.box {
    align-items: flex-start;
    height: 534rpx;
    .bd {
        position: relative;
        align-items: flex-start;
        opacity: 1;
        width: 342rpx;
        height: 342rpx;
        .layer {
            position: absolute;
            top: 0rpx;
            left: 0rpx;
            width: 342rpx;
            height: 342rpx;
            overflow: hidden;
        }
        .bg {
            position: absolute;
            top: 0rpx;
            left: 0rpx;
            opacity: 1;
            width: 342rpx;
            height: 342rpx;
        }
        .wrap {
            box-sizing: border-box;
            position: relative;
            margin-top: 18rpx;
            margin-left: 18rpx;
            border-radius: 15rpx;
            background-color: rgba(0, 0, 0, 0.4);
            padding-right: 9rpx;
            padding-left: 10rpx;
            height: 30rpx;
            .riverdinwei {
                opacity: 1;
                width: 14rpx;
                height: 18rpx;
            }
            .distance {
                margin-left: 4rpx;
                width: 84rpx;
                height: 22rpx;
                line-height: 22rpx;
                white-space: nowrap;
                color: #ffffff;
                font-size: 18rpx;
                font-weight: 400;
                lines: 1;
            }
        }
    }
    .main {
        align-items: flex-start;
        background-color: #ffffff;
        width: 342rpx;
        height: 114rpx;
        .title {
            margin-top: 22rpx;
            width: 300rpx;
            height: 88rpx;
            overflow: hidden;
            text-overflow: ellipsis;
            line-height: 44rpx;
            color: #333333;
            font-size: 30rpx;
            font-weight: 400;
            lines: 2;
        }
    }
    .ft {
        box-sizing: border-box;
        border-bottom-left-radius: 12rpx;
        border-bottom-right-radius: 12rpx;
        background-color: #ffffff;
        padding-right: 17rpx;
        padding-left: 18rpx;
        width: 342rpx;
        height: 78rpx;
        overflow: hidden;
        .block {
            height: 30rpx;
            .xianjin {
                width: 30rpx;
                height: 30rpx;
            }
            .fashionHome {
                margin-left: 6rpx;
                width: 96rpx;
                height: 28rpx;
                line-height: 28rpx;
                white-space: nowrap;
                color: #666666;
                font-size: 24rpx;
                font-weight: 300;
                lines: 1;
            }
        }
        .group {
            height: 30rpx;
            .favorite {
                width: 22rpx;
                height: 22rpx;
            }
            .num {
                margin-left: 5rpx;
                width: 36rpx;
                height: 26rpx;
                line-height: 26rpx;
                white-space: nowrap;
                color: #999999;
                font-size: 22rpx;
                font-weight: 400;
                lines: 1;
            }
        }
    }
}
